{% extends 'base.html.twig' %}

{% block title %}Nouvelle Salle{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="card employee-card">
            <div class="employee-header">
                <h1>Créer une nouvelle Salle</h1>
            </div>
            <div class="employee-body">
                {{ include('salle_crud/_form.html.twig', { button_label: 'Enregistrer' }) }}
                <a href="{{ path('app_salle_crud_index') }}" class="btn btn-secondary btn-back">Retour à la liste</a>
            </div>
        </div>
    </div>
{% endblock %}
